/Plataforma Integral para Kioscos/nbproject/private/
/Monitoreo Kiotech/nbproject/private/
/Monitoreo Kiotech/build/
/PruebaResources/nbproject/private/
/PruebaResources/build/
/WebAppCatalogMovie/nbproject/private/
/Monitoreo Kiotech/dist/